.gallerys .gallery-img {
    margin: 01 100px; }

    p {
        margin-top: 1;
        margin-bottom: 50%; }


    hr {
        box-sizing:border-box;
        height: 1;
        overflow:auto; }
      
      
      
  